.filterContainer{
  flex-basis: 300px;
  background:grey;
  overflow: scroll;
}
.filterButton{
  visibility: hidden;
  position: absolute;
  height: fit-content;
  width: fit-content;
  padding: .5rem 1rem;
  background-color: blueviolet;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}
/* media query */
@media screen and (max-width: 600px) {
  .filterContainer{
      overflow: hidden;
    flex-basis: 0;
  }
  .filterButton{
    visibility: visible;
    display: block;
    top: 0;
    left: 0;

  }
}